@import './leaflet.css';
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

$primary: #3388cc;

.leaflet-popup{
    z-index: 9999;
}

.dashboard{

    h1{
        position: absolute;
        z-index: 1;
        width: 100%;
        text-align: center;
        pointer-events: none;
        font-family: 'Fjalla One';
        text-transform: uppercase;
        color: $primary;
    }

}